<link rel="stylesheet" href="css\index.css">
<link rel="stylesheet" href="css\about.css">
{{>header}}

<div class="aboutMission">
    <h1>About Mission</h1>
    <ul>
        <li><p>We foster our students’ love for learning, encourage them to try new and exciting things
             and give them a solid foundation to build on.</p></li>
        <li><p>Our early learning center exists to provide a safe, developmentally, inclusive environment for toddlers, preschool, kindergarten
             and school age children.</p></li>
        <li><p>Our goal is to support and nurture the children’s and our own natural desire to be life-long learners. We are committed to the families we serve, providing support
             and encouragement.</p></li>
        <li><p>Our focus is to provide a stimulating early learning and child care experience which promotes each child’s social/emotional, physical and cognitive 
            development.</p></li>
        <li><p>Our goal as a school is to equip our young people with the skills and mindset to thrive and then 
            take on the world.</p></li>   
        <li><p>Our vision is to forge strong, positive connections with students so they can achieve independence, build confidence, and gain 
            academic knowledge.</p></li>    
    </ul>
</div>
{{>footer}}