    <link rel="stylesheet" href="css\index.css">
    <link rel="stylesheet" href="css\admission.css">
    {{>header}}
    <h1>Admission Procedure</h1>

    <h3>Admission Criteria</h3>

    <p>.Interested candidates have to submit the following documents for taking admission-. </p>
    <p>1) Two copies of recent passport size photograph of the applicant. </p>
    <p>2) Xerox copies of admit card/certificate and mark sheets of last educational qualification. </p>
    <p>3) If the candidate belong to any of ST/SC/OBC/MOBC category, they should submit one xerox copy of their caste certificate. </p>


    {{>footer}}