    <link rel="stylesheet" href="css\index.css">
      <link rel="stylesheet" href="css\about.css">
    <link rel="stylesheet" href="css\admission.css">
    {{>header}}
    <div class="feeStructure">
        
            <h1>Fees Structure</h1>
         <p>Fee Structure

          All the due are payable in advance before are on the 15th of April, July, Sept., Nov. and Jan for 12months of the year.
           fine for late payment If a pupil fails to deposites the fee upto 15th of the month Rs.50.00 will be charged for per month.
            Readmission Charge will be Rs. 500/-</p>

            <table>
                <tr>
                    <th>Class</th>
                    <th>Fees</th>
                </tr>
                <tr>
                    <td>Pre-Nursery</td>
                    <td>Rs.400/-</td>
                </tr>
                <tr>
                    <td>Nursery</td>
                    <td>Rs.500/-</td>
                </tr>
                <tr>
                    <td>I to V</td>
                    <td>Rs.690/-</td>
                </tr>
                <tr>
                    <td>VI to VIII</td>
                    <td>Rs.720/-</td>
                </tr>
                <tr>
                    <td>IX to X</td>
                    <td>Rs.905/-</td>
                </tr>
                <tr>
                    <td>XI to XII</td>
                    <td>Rs.1400/-</td>
                </tr>
                
            </table>
            

            
        
    </div>
    {{>footer}}