<link rel="stylesheet" href="css\index.css">
<link rel="stylesheet" href="css\about.css">
<link rel="stylesheet" href="css\academics.css">
{{>header}}
<div class="middleSkul">
    <h1>Middle School</h1>
    <p>
        
        This phase is characterised by the transition from childhood to adolescence, a time
         when children experience and witness dramatic physical, emotional and social changes
          in self and peer group. The Middle School Programme offers an expanded curriculum to
           match the growing abilities of children in assimilating information and grasping 
           abstract ideas. Extending the educational exposure and experience provided by the
            Primary School Programme, Middle School Programme focuses on strengthening the 
            knowledge, skills and competencies of the child through comprehensive, innovative
             and creative learning
         activities.
    </p>
    <hr>
    <h2>Highlights of Middle School Programme</h2>
    <ul>
        <li>There is an increasing emphasis on inter-disciplinary approach, enabling students to understand and appreciate the connectivity between various subjects</li>
        <li>Students work on assignments such as research-based projects and model making, thereby gaining hands on experience.</li>
        <li>Students are provided guidance and support by the School Counsellor to address their emotional needs during the transitional adolescent years.</li>
        <li>Children acquire and develop communication and listening skills through well designed activities like debates, group discussions, elocution, extempore, declamations, theme-based talks, drama, skits, role-play, etc.</li>
        <li>Children's creativity and talent are nurtured by providing them opportunities to learn and practice dance, drama, music, art, craft, etc.</li>
        <li>The curriculum recognises the unique talents of each child and encourages them to develop themselves to their fullest potential.</li>
        <li>Apart from academic proficiency, the curriculum places emphasis on sensitising children to be caring and compassionate, and develop a sense of responsibility towards society through participation in community service activities.</li>
        <li>Children learn and apply their knowledge of Information and Communication Technology, building on what they learnt in the earlier grades.</li>
        <li>The learning gaps are identified through various modes of assessment and are addressed accordingly.</li>
        <li>The Programme is aligned to the educational objectives defined by the CBSE, and provides a sound base for students to pursue secondary education.</li>
    </ul>
</div>
{{>footer}}