    <link rel="stylesheet" href="css\index.css">
    <link rel="stylesheet" href="css\about.css">
    {{>header}}
    <div class="principal">
       
    <img src="https://images.unsplash.com/photo-1543269664-56d93c1b41a6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGhhcHB5JTIwdGVhY2hlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" >
        <div>
            <p style="color: red;"> "Flowers leave part of their fragrance in the hand that bestows them."

        The mind is not a vessel to be filled but a fire to be kindled. 
        I appreciate the staff and students of all faculties who use 
        various modes of expansion to present their ideas. As long as 
        our ideas are expressed and thoughts kindled, we can be sure of
        learning as everything begins with an idea. Just as our mother
        earth gives us more and more,  Learning is not a process 
        limited to schools and colleges 
        only, nor does it end with the conclusion of one's school career.
        It is indeed a lifelong process. The school is oriented to the total
        formation of a child and to adaptations of various methods suiting 
        the dynamics of changing world in order to achieve common goals and
        objectives. It is further characterized by sharing vision,
        responsibility and above all love and faith in goal in order to achieve it.

        We live today in a world that is very different from the one we 
        grew up, in the one we were educated in. The world today is changing 
        at such an accelerated rate where we as educators need to pause and 
        reflect on this entire system of education. Our school is well equipped 
        to prepare our children to face the challenges that the future holds and
        work at implementing a well-balanced curriculum to ensure that the
        children who walk into the portals of VPS will not just leave 
        their school years but truly be prepared to face life's challenges.

        Even as we impart education to match the advancement in technology 
        and globalization, we march our children ahead with ethos of moral 
        values and principles. We endeavor constantly to instill these 
        qualities in our children. We pride ourselves to help them grow 
        and develop into sensitive and responsible citizens of the future.

        Aristotle once said that, "Educating the mind without educating 
        the heart is no education at all".</p>
        </div>
    </div>
    {{>footer}}
