<link rel="stylesheet" href="css\index.css">
<link rel="stylesheet" href="css\about.css">
<link rel="stylesheet" href="css\academics.css">
{{>header}}
<div class="primary">
    <h1>Primary</h1>
    <p>The Primary School Programme initiates children into sustaining their enthusiasm
         for building on what they learned at the Pre-primary level. At this stage, 
         children's exploratory spirit and quest for knowledge is on the rise, and they
          are motivated by the love of learning that they have imbibed. The emphasis is
           on the learning and understanding of concepts through an engaging and relevant
         curriculum. The various activities 
        conducted enable children to explore their multiple talents.
        
    </p>
    <hr>
    <h2>Highlights of Primary School Programme</h2>
    <ul>
        <li>Children are encouraged to develop good study habits.</li>
        <li>At this stage the emphasis is on experiential learning through experimentation, observation, analysis, drawing inferences, and discovery, to develop scientific temper.</li>
        <li>Primary mathematical concepts are developed, focusing on numeracy skills and reasoning ability.</li>
        <li>Special emphasis is given on acquiring language skills through active reading and listening programmes, and development of creative and artistic expression.</li>
        <li>Children are exposed to new realms of knowledge, new places and learning experiences through educational excursions and field trips.</li>
        <li>Children are introduced to new learning experiences and challenges through graded exercises, work sheets, group learning and assignments.</li>
        <li>Primary School curriculum places special emphasis on teaching children computer skills.</li>
        <li>Children are provided opportunities to learn music, dance, drama, painting, etc. to nurture multiple intelligences.</li>
        <li>Children's creative talent is nurtured through participation in a variety of co-curricular activities and events.</li>
    </ul>

</div>
{{>footer}}