    <link rel="stylesheet" href="css\index.css">
     <link rel="stylesheet" href="css\about.css">
     <link rel="stylesheet" href="css\academics.css">
    {{>header}}
    <div class="priPrimary">
        <h1>Pri Primary</h1>
        <p>The Pre-primary curriculum sets the tone for learning by kindling the 
            inherent curiosity in young children. At this stage, children are active 
            and curious to explore, and love to play by engaging in activities that 
            interest them. The program builds on pre-literacy and pre-numeracy skills,
             focussing on developing social and personal skills, critical and creative
              thinking skills.

            The use of innovative and engaging teaching methodologies, incorporating a blend 
            of Montessori and Play-Way techniques, help create a happy learning environment 
            with fun-filled activities, involving all the five senses. The activities are
            designed to meaningfully engage children in the learning and help them blossom.</p>
            <hr>
            <h2>Highlights of Pre-Primary School Programme</h2>
            <ul>
                <li>The emphasis is on creating an ambience of freedom for children to play, sing and move.</li>
                <li>Play materials give children the opportunity to see, touch, feel, and explore.</li>
                <li>Children are encouraged to engage in group activities, which enables them to develop their social skills.</li>
                <li>Our curriculum emphasises holistic development of the children in various areas - physical, creative, language, numeracy and general awareness.</li>
                <li>The classrooms are colourfully designed which excites them to be more inquisitive.</li>
                <li>They have ample opportunities to explore the environment around them and become more perceptive.</li>
                <li>Festivals and special celebrations help children understand and value cultural heritage and appreciate diversity.</li>
                <li>The Programme aids a pleasant transition to the Primary School, thereby, enabling children to adapt to the new environment, as they are initiated into the world of formal learning.</li>
                <li>The use of toys and teaching aids, story-telling, role-play; and teaching alphabet and numbers through stories and rhymes are integral to the teaching-learning process.</li>
            </ul>
    </div>
    {{>footer}}