<link rel="stylesheet" href="css\index.css">
      <link rel="stylesheet" href="css\about.css">
    <link rel="stylesheet" href="css\admission.css">
    {{>header}}
 
    <div class="rulesRegulation">
        <h1>Guidlines For Parents</h1>
        <ul>
        <li> All belongings of the students should be carried by the child. No delivery of items is permitted in the School.</li>
        <li> Kindly ensure that the child reports to his/her classes on time.</li>
        <li>Kindly ensure that your child does not carry any valuable item to the School.</li>
        <li>No mobile phone is allowed to be carried to the school by any student without explicit and written permission of the respective class teacher.</li>
        <li>Parents should ensure that the child is dedicating time towards his or her home-work and gets complete set of books as per the prescribed time-table and booklist.</li>
        <li> Private tuitions are strictly discouraged.</li>
    </ul>
    <h1>Attendence and Leave Application</h1>
    <ul>
        <li> ‘6-day system’ of time table is followed by the School.</li>
        <li>Students need to maintain over 80% attendance for each term in every academic year.</li>
        <li>It is highly recommended that students should attend first working day and the last working day of a term.</li>
        <li>If a student is absent due to illness or any other valid reason, the class teacher or coordinator must be informed about it immediately by the parent/guardian.</li>
        <li>Leave should be obtained well in advance through an application duly signed by parents in the school diary, which shall be forwarded by the class teacher.</li>
        <li>Medical certificate from a registered medical practitioner is mandatory on the first day the student reports back to school after sick leave of more than two consecutive days.</li>
    </ul>
    <h1>Rules of Conduct</h1>
    <ul>
        <li>Students are expected to respect the property of others and of the School.</li>
        <li>Each class will be responsible for looking after the respective classroom, including any movable items. </li>
        <li>No students should scratch/spoil/break or damage any School furniture, write/draw anything on the walls or in any way damage things belonging to others.</li>
        <li> Damage done, even by accident, should be reported at once to the appropriate authority. Any damage done shall be made good by the offender.</li>
        <li>No books (other than text books, reference books or library books), magazines or paper must be brought to School without written consent of the class teacher.</li>
        <li>Any knives, crackers, water-pistols, explosives or any other lethal object which may cause threat or injury or damage to School property are strictly prohibited to carry to the School premises.</li>
        <li> The School is strictly against exchange of any article or lending and borrowing of money. In case of any loss caused, the School shall not be held responsible.</li>
        <li>It is advised that students at all time must ensure cleanliness and do not litter or throw rubbish anywhere in the School premises or outside it. They must use the bins provided.</li>
        <li>Running, playing or making noise affecting others inside the School premises is not permitted.</li>
        <li>Only those students who maintain the required attendance as per the guidelines mentioned will be allowed to appear for examinations.</li>
    </ul>
    </div>
    {{>footer}}