<link rel="stylesheet" href="css\index.css">
<link rel="stylesheet" href="css\about.css">
<link rel="stylesheet" href="css\academics.css">
{{>header}}
<div class="secondary">
    <h1>Secondary</h1>
    <p>
        The Secondary School Programme focuses on consolidating students' knowledge and
         enabling them to delve deeper into each subject. The School aims to develop students
          into independent and successful learners, confident and creative individuals, and
           informed and responsible citizens. Emphasis is on strengthening application-based
            learning through 
        projects, experiments, assignments, discussions, presentations, etc.
    </p>
    <hr>
    <h2>Highlights of Secondary School Programme</h2>
    <ul>
        <li>The Programme provides a well-mapped curriculum which develops the thinking skills with effective learning materials and resources. It enhances children's higher order thinking skills and problem-solving ability.</li>
        <li>Students are encouraged to explore and make extensive and meaningful use of library resources, for referencing, project works, discussions, presentations, etc. This strengthens their awareness and ignites their curiosity to seek knowledge.</li>
        <li>Laboratory experiments are an integral part of the teaching-learning methodology that equip children with skills of observation, and logical and analytical thinking.</li>
        <li>Workshops, seminars, talks, presentations, and use of video clippings reinforce the understanding of mathematical and scientific concepts.</li>
        <li>Learning methods include research based projects, presentations, digital-learning, problem solving and fieldwork.</li>
        <li>Students get numerous opportunities for both collaborative and individual learning.</li>
        <li>Students receive individualised academic support to reinforce the concepts learnt and bridge the learning gaps.</li>
        <li>Personality and leadership skills development programmes help students become more responsive to the dynamics of their physical, emotional and social development.</li>
        <li>Students get ample opportunities to synergise their learning experiences from formal and informal learning sources to help them construct knowledge.</li>
        <li>At the Secondary level, the subjects offered by the School are English as First Language; Hindi or Sanskrit as Second Language; Mathematics; Science; and Social Science.</li>
    </ul>
</div>

{{>footer}}