    <link rel="stylesheet" href="css\index.css">
     <link rel="stylesheet" href="css\about.css">
    <link rel="stylesheet" href="css\admission.css">
    {{>header}}
        <div class="skulUniform">
            <p>The uniform should be worn everyday in school and for all school functions. Identity card must be worn daily. 
                Students are allowed to enter the school only in the school uniform. </p>
        </div>
    {{>footer}}