<link rel="stylesheet" href="css\index.css">
      <link rel="stylesheet" href="css\about.css">
    <link rel="stylesheet" href="css\admission.css">
    {{>header}}
    <div class="time">
        <h1>School Timing</h1>
        <h3>Summer : <span style="color: green;">08:00 am To 12:00 pm For Nursery to fifth </span></h3>
        <h3>Winter : <span style="color: green;"> 09:00 am To 01:00 pm For Nursery to fifth </span></h3>
        <div  class="visitorHours">
            <h3>Visitors Hours & PTM Schedule</h3>
            <p>The school would like the parents to maintain a close rapport with the teachers of their children. Parents are advised to meet the Principal. Co-ordinator or teachers, according to the timings given below or by prior appointment only. </p>
        </div>
        <div class="visitingDetail">
            <h3>Visiting Hours</h3>
            <ul>
                <li>Principal 10:00 am - 12:00 pm On all Week days </li>
                <li>Teacher 01:00 pm - 01:30 pm During Summer </li>
                <li>02:00 pm - 02:30 pm During Winter During Winter </li>
                <li>School Office 07:30 am - 02:00 pm Monday to Saturday Summer </li>
                <li>8:30:00 am - 03:00 pm Monday to Saturday Winter </li>
            </ul>
        </div>
    </div>
    {{>footer}}