<link rel="stylesheet" href="css\index.css">
<link rel="stylesheet" href="css\about.css">
<link rel="stylesheet" href="css\academics.css">
{{>header}}
<div class="srSecondary">
    <h2>Sr.Secondary</h2>
    <p>
        At the Senior Secondary level, the curriculum shifts its emphasis from general to core subject-focussed specialised content. The concepts in different disciplines are dealt with in depth and rigour. This is the stage where students identify their subjects of interest for future learning and get a better understanding about their career path. Thus, at this stage, they are better informed to select the subjects and streams of their choices and aptitude.

        The curriculum emphasises on basic facts and conceptual understanding, processes and skills, application of knowledge acquired, use of technology, etc. While the curriculum focuses on achieving these subject based objectives, it also develops a positive attitude to think and analyse logically, reasoning abilities, problem solving approaches, and inter-disciplinary learning. These stages of curriculum delivery in Senior Secondary section emphasise on knowledge construction.

        The School offers Science Stream, and students can choose subjects from Mathematics, Physics, Chemistry, Biology, Computer Science, Economics and Informatics Practices. The students also study English language in classes 11 and 12.
    </p>
    <hr>
    <h2>Highlights of  Senior Secondary School Programme</h2>
    <ul>
        <li>New concepts along with extended exposure to the contemporary areas of each subject.</li>
        <li>Simple, clear and sequential flow of knowledge.</li>
        <li>Ample opportunities and scope for learning and appreciating basic concepts and facts.</li>
        <li>Development of core competence while constructing knowledge.</li>
        <li>Experiential learning through extended laboratory work, investigatory projects, presentations, etc.</li>
        <li>Analyse, manage, evaluate and respond to change.</li>
        <li>Understanding the dynamic nature and interdependence of subjects.</li>
        <li>Multiple avenues to develop analytical and logical thinking and reasoning ability.</li>
    </ul>
</div>
{{>footer}}