<section>
        
        <div class="footerIcon">
          <a class="fb-ic">
            <i class="fa fa-facebook-f fa-2x mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter fa-2x mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus-official fa-2x" ></i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-linkedin-in  mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram  fa-2x"> </i>
          </a>
        </div>
        <div class="footer">  
            <div class="map" style="flex-grow:1">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d906.2793199293881!2d83.05546011160554!3d24.68849482158742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398ef9b6405f3775%3A0x79691fd9c729d1d7!2sMaa%20Vaishno%20Modern%20Public%20School!5e0!3m2!1sen!2sin!4v1632748131302!5m2!1sen!2sin" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="contact" style="flex-grow: 4">
                <h6>CONTACT</h6>
                <p>
                    <i class="fa fa-phone"></i> 6393216862
                </p>
                <p>
                    <i class="fa fa-globe"></i> www.mvmpublicSchool.com
                </p>
                <p>
                    <i class="fa fa-envelope"></i> mvmschool@gmail.com
                </p>
                
            </div>
        </div>
    </section>