    
        <section>
            <header>
            <nav>
                <div class="topHeader">
                    <div class="logo"><img src="https://www.mvmpublicschool.in/images/logo.png"></div>
                    <div class="schoolName">
                            <h3>MAA VAISHNO MODERN <br> <span>PUBLIC SCHOOL</span></h3>
                        <div class="address">
                           <h4> Brahma Nagar,Robertsganj Sonebhadra Uttar Pradesh - 231216<br><span>(Affilated to CBSE,10+2)(Sc & Commerce) No-2131496</span></h4>
                        </div>
                    </div>
                    <div class="icons">
                        <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-line-chart fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="menudropdown1">
                    <ul>
                        <li><a href="/" target="_self">Home</a></li>
                        <li><a href="#" target="_self">About Us</a>
                            <ul>
                                <li><a href="/about" target="_self">About School</a></li>
                                <li><a href="/aboutMission" target="_self">About Mission</a></li>
                                {{!-- <li><a href="http://">Our Society</a></li> --}}
                                <li><a href="/pri">Principal Desk</a></li>
                            </ul>
                        </li>             
                        <li><a href="#" target="_self">Admission</a>
                            <ul>
                                <li><a href="/admssPro" target="_self">Admission Procedure</a></li>
                                <li><a href="http://">Fee Chat</a></li>
                                <li><a href="http://">Rules & Guidlines</a></li>
                                <li><a href="http://">School Timing</a></li>
                                <li><a href="http://">School Uniform</a></li>
                            </ul>
                        </li>
                        <li><a href="/" target="_blank">Academics</a>
                            <ul>
                                <li><a href="http://">Pri Primary</a></li>
                                <li><a href="http://">Primary</a></li>
                                <li><a href="http://">Middle School</a></li>
                                <li><a href="http://">Secondary</a></li>
                                <li><a href="http://">Sr. Secondary</a></li>
                                <li><a href="http://">Awards</a></li>
                                    <li><a href="http://">Transfer Certficate</a></li>
                            </ul>
                        </li>
                        <li><a href="/" target="_blank">Facilities</a>
                            <ul>
                                <li><a href="http://">Transport</a></li>
                                <li><a href="http://">Laboratories</a></li>
                                <li><a href="http://">Smart Class</a></li>
                                <li><a href="http://">Sport</a></li>
                                <li><a href="http://">Library</a></li>
                            </ul>
                        </li>
                        <li><a href="/" target="_blank">Info Corner</a>
                            <ul>
                                <li><a href="http://">News</a></li>
                                <li><a href="http://">Photo Gallery</a></li>
                                <li><a href="http://">Admin Login</a></li>
                            </ul>
                        </li>
                        <li><a href="/" target="_blank">Contact</a>
                            <ul>
                                <li><a href="http://">Contact US</a></li>
                                <li><a href="http://">Enquiry</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>    
        </header>
        </section>
    